// -----------------------------------------------------------------------------
// This file contains all styles related to the About Us section of the site/application.
// -----------------------------------------------------------------------------
.about-us {
    margin-top: 75px;

    &__list {
        display: grid;
        
        // grid: auto-flow / 1fr 1fr 1fr 1fr;
        grid-template: 
            [row] "active . . ." 1fr [row]
            [row] "active . . ." 1fr [row];
        grid-gap: 12px;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        // grid-template-rows: repeat(3, 1fr);
        
        // grid-t
        // grid-template-columns: repeat(4, 1fr);
        
        // flex-shrink: 0;
        // flex-shrink: 1;
        // grid-gap: 12px;
        transition: all .3s ease-out;
    }

    &__item:nth-child(1) {
        background-color: $color-neutral-100;
        grid-area: active;
        // grid-row: 1 / -1;
    }

    &__item {
        padding: 28px 30px 18px 30px;
        background-color: $color-neutral-100;
        // grid-area: item;
        transition: all .3s ease-out;

        font-family: $text-font-stack;
    }

    &__title {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;

        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    &__text {
        display: none;

        font-weight: 400;
        font-size: 15px;
    }
}

.is-active {
    grid-area: active;
}

.active-list-item {
    grid-area: active;
}