// -----------------------------------------------------------------------------
// This file contains all styles related to the About Us section of the site/application.
// -----------------------------------------------------------------------------
.about-us {
    margin-top: 35px;

    @include respond-to('small') {
        margin-top: 75px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
        @include respond-to('medium') {
            display: grid;
            grid-template: 
                [row] "active . . ." 1fr [row]
                [row] "active . . ." 1fr [row];
            grid-gap: 12px;
            grid-auto-columns: 1fr;
            grid-auto-flow: row;
            transition: all .3s ease-out;
        }
        
    }

    &__item:nth-child(1) {
        background-color: $color-neutral-100;
        grid-area: active;
    }

    &__item {
        padding: 28px 30px 18px 30px;
        background-color: $color-neutral-100;
        transition: all .3s ease-out;

        cursor: pointer;

        font-family: $text-font-stack;

        &:hover {
            box-shadow: 20px 0 65px rgba(31, 31, 31, 0.5);
        }
    }

    &__title {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 110px;

        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    &__text {
        display: none;

        font-weight: 400;
        font-size: 15px;
    }
}

.is-active {
    grid-area: active;
}

.active-list-item {
    grid-area: active;
}