// -----------------------------------------------------------------------------
// This file contains all styles related to the bottom menu of the site/application.
// -----------------------------------------------------------------------------
.bottom-nav {
    &__title {
        margin: 0 0 20px 0;
        padding-bottom: 15px;

        position: relative;

        font-weight: 700;
        font-size: 18px;
        text-align: center;

        @include respond-to('medium') {
            text-align: left;
        }

        &::after {
            width: 50%;
            height: 2px;
            content: '';

            position: absolute;
            top: 100%;
            left: 50%;

            transform: translateX(-50%);

            @include respond-to('medium') {
                left: 0%;

                transform: translateX(0%);
            }

            background-color: $color-neutral-50;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include respond-to('medium') {
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__link {
        color: $color-neutral-100;

        &:hover {
            color: $color-neutral-60;
        }

        &:active {
            color: $color-neutral-50;
        }
    }
}